{% extends "base.html" %}

{% block body %}
    <div class="container">
        <table>
        <header><h3> 📋 View Tasks </h3></header>
            <p>
                {{ message }}
            </p>
            <ul>
                <li>
                    <b>Title: </b>
                    {{ tasks.title }}
                </li>
                <li>
                    <b>Description: </b>
                    {{ tasks.description }}
                </li>
                <li><b>Priority: </b>
                    {{ tasks.priority }}
                </li>
            </ul>
        </table>
    </div>
{% endblock %}